@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700'); */

@layer base {
  html {
<<<<<<< HEAD
    font-family: Proxima Nova, system-ui, sans-serif;
=======
    font-family: Open Sans, sans-serif;
  }
  div#app{
    overflow-x: hidden;
>>>>>>> developer
  }
}